<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.fajarca.project.user">

    <application>
        <activity
            android:name="io.fajarca.project.user.presentation.detail.UserDetailActivity"
            android:label="User Detail"
            android:parentActivityName="io.fajarca.project.user.presentation.main.UserActivity" />
    </application>

</manifest>