<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.fajarca.project.post">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/Theme.DaggerPlayGround">

        <activity
            android:name="io.fajarca.project.post.presentation.list.PostActivity"
            android:label="Post">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "app://post/” -->
                <data
                    android:host="post"
                    android:path="/"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPrefix -->

            </intent-filter>
        </activity>

        <activity
            android:name="io.fajarca.project.post.presentation.detail.PostDetailActivity"
            android:label="Post detail"
            android:parentActivityName="io.fajarca.project.post.presentation.list.PostActivity">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "app://post/7” -->
                <data
                    android:host="post"
                    android:pathPattern="/..*"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPattern -->

            </intent-filter>

        </activity>
    </application>

</manifest>