<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.fajarca.project.daggerplayground">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".DaggerPlaygroundApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaggerPlayGround">

        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.fajarca.project.user.presentation.main.UserActivity"
            android:label="Users"
            android:parentActivityName=".presentation.MainActivity" />

        <activity
            android:name="io.fajarca.project.post.detail.PostDetailActivity"
            android:label="Post detail"
            android:parentActivityName=".presentation.MainActivity">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "app://post/7” -->
                <data
                    android:host="post"
                    android:pathPattern="/..*"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPattern -->

            </intent-filter>
        </activity>

        <activity
            android:name="io.fajarca.project.post.PostActivity"
            android:label="Post"
            android:parentActivityName=".presentation.MainActivity">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "app://post/” -->
                <data
                    android:host="post"
                    android:path="/"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPrefix -->

            </intent-filter>
        </activity>

    </application>

</manifest>